<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.leocondor.app"
    version   = "1.0.0">

<name>Labbytes</name>

<description>
El laboratorio de Leo Condori, nació en Junio de 2010. Creando nuevos productos con el uso de las ultimas tecnologias.
</description>
<preference name="phonegap-version" value="2.9.0" />
<preference name="orientation" value="portrait" />
<preference name="fullscreen" value="true" />
<icon src="img/icon_gde.png" />
<gap:splash src="img/splash.png" />
<preference name="splash-screen-duration" value="18000" />
<preference name="exit-on-suspend" value="true" />



<author href="http://www.leocondori.com.ar" email="contacto@leocondori.com.ar">
Leonardo Condori
</author>

</widget>
